<div class="content">
    <div class="form">

        <div class="contact-d" data-aos="fade-right" data-aos-duration="1000" data-aos-easing="linear">
            <p class="title">Contact Info</p>
            <div class="contact-icons"> 
                <img src="/assets/icons/location.png" alt="">
                <p class="location">
                    Cape Town, South Africa, 8001
                </p>
            </div>
            <div class="contact-icons"> 
                <img src="/assets/icons/call.png" alt="">
                <p class="location">
                    021 123 4567
                </p>
            </div>
            <div class="contact-icons"> 
                <img src="/assets/icons/mail.png" alt="">
                <p class="location">
                    contact@email.com
                </p>
            </div>
            <div class="socials">              
                <img src="/assets/icons/1.png" alt="">
                <img src="/assets/icons/2.png" alt="">
                <img src="/assets/icons/3.png" alt="">
                <img src="/assets/icons/5.png" alt="">     
            </div>
        </div>
        <div class="contact-form" data-aos="fade-left" data-aos-duration="1000" data-aos-easing="linear">
            <label for="" class="form-title">Send a Message</label>
            <div class="forms">
                <div class="form-grp">
                    <label for="">First name</label>
                    <input type="text" name="" placeholder="Tsepang">
                </div>
                <div class="form-grp">
                    <label for="">Second name</label>
                    <input type="text" name="" placeholder="Maseti">
                </div>
                <div class="form-grp">
                    <!-- <label for="">E-Mail</label> -->
                    <input type="text" name="" placeholder="Email Address">
                </div>
                <div class="form-grp">
                    <!-- <label for="">Phone</label> -->
                    <input type="text" name="" placeholder="Phone Number">
                </div>
                <div class="form-grp">
                    <!-- <label for="">Message</label> -->
                    <textarea name="" id="" cols="30" rows="10" placeholder="Message"></textarea>
                </div>
                <div class="button">
                    Send
                </div>
            </div> 
        </div>
    </div>
</div>