<div class="content" data-aos="zoom-in" data-aos-duration="800" data-aos-easing="linear">
    <p class="content-tlt">Our Services</p>
    <div class="underline"></div>
    <p class="content-p">We are proposing hassle-free application that you can use anywhere around Cape Town</p>
    <div class="button" routerLink="/guest/contact">Contact Us</div>
    <div class="cards">
        <div class="first">
            <div class="card">
                <div class="card-icon">
                    <p><i class="fa-regular fa-lightbulb" id="fa"></i></p>
                </div>
                <label for="" class="card-title">Live Tracking</label>
                <p class=" text">Lorem ipsum dolor sit amet, consectetur 
                    adipiscing elit, sed do eiusmod tempor incididunt ut 
                    labore et dolore magna aliqua.
                </p>
            </div>
        </div>
        <div class="second">
            <div class="card">
                <div class="card-icon">
                    <p><i class="fa-regular fa-lightbulb" id="fa"></i></p>
                </div>
                <label for="" class="card-title">Transport Accessibility</label>
                <p class=" text">Lorem ipsum dolor sit amet, consectetur 
                    adipiscing elit, sed do eiusmod tempor incididunt ut 
                    labore et dolore magna aliqua.
                </p>
            </div>
        </div>
        <div class="third">
            <div class="card">
                <div class="card-icon">
                    <p><i class="fa-regular fa-lightbulb" id="fa"></i></p>
                </div>
                <label for="" class="card-title">Traffic-Jam Detector</label>
                <p class=" text">
                    Lorem ipsum dolor sit amet, consectetur 
                    adipiscing elit, sed do eiusmod tempor incididunt ut 
                    labore et dolore magna aliqua.
                </p>
            </div>
        </div>
    </div>
</div>