<div class="content">
    <h1>About Us</h1>
    <div class="num">
        <div class="first">
            <div class="card">
                <div class="card-tlt">
                    <p>Who We Are</p>
                </div>
                <img src="" class="card-img" alt="">
                <p class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
                    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Risus 
                    at ultrices mi tempus imperdiet nulla malesuada pellentesque elit. </p>
                <div class="card-btn">
                    More
                </div>
            </div>
        </div>
        <div class="second">
            <div class="card">
                <div class="card-tlt">
                    <p>Vision</p>
                </div>
                <img src="" class="card-img" alt="">
                <p class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
                    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Risus 
                    at ultrices mi tempus imperdiet nulla malesuada pellentesque elit. </p>
                <div class="card-btn">
                    More
                </div>
            </div>
        </div>
        <div class="third">
            <div class="card">
                <div class="card-tlt">
                    <p>Mission</p>
                </div>
                <img src="" class="card-img" alt="">
                <p class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
                    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Risus 
                    at ultrices mi tempus imperdiet nulla malesuada pellentesque elit. </p>
                <div class="card-btn">
                    More
                </div>
            </div>
        </div>
    </div>
    <div class="services">
        services <i class="fa-solid fa-right-long fa-beat"></i>
    </div>
</div>