<div class="container">
    <div class="nav">
        <div class="grp" routerLink="">
            <p><i id="icon" class="fa-solid fa-house"></i></p>
            <p class="text">Home</p>
        </div>
        <div class="grp">
            <p><i id="icon" class="fa-solid fa-bell"></i></p>
            <p class="text">Notifications</p>
        </div>
        <div class="grp">
            <p><i id="icon" class="fa-solid fa-user"></i></p>
            <p class="text">Profile</p>
        </div>
        <div class="grp">
            <p><i id="icon" class="fa-solid fa-circle-info"></i></p>
            <p class="text">Rides</p>
        </div>
        <div class="grp">
            <p><i id="icon" class="fa-regular fa-credit-card"></i></p>
            <p class="text">Cards</p>
        </div>
        <div class="grp">
            <p><i id="icon" class="fa-solid fa-gear"></i></p>
            <p class="text">Settings</p>
        </div>
        <!-- <div class="grp">
            <div class="img">
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/7e/Circle-icons-profile.svg/512px-Circle-icons-profile.svg.png?20160314153816" alt="" srcset="">
            </div>
            <p class="text">Tsepang</p>
        </div>
        <div class="grp">
            <p><i id="icon" class="fa-solid fa-right-from-bracket"></i></p>
            <p class="text">Logout</p>
        </div> -->
    </div>
</div>