<div class="container">

    <div class="left">
        <!-- <h1>MyTransport</h1> -->
        <div class="slogan">
            <p>SAFE TRAVELS. SAFE LIFE. <br> SAVE MONEY.</p>
        </div>`
        <div class="motto">
            <p>A platform that values time and offer the best quality services right under your budget</p>
        </div>
       

        <div class="btn">
            <p class="button" routerLink="/about" >Explore App</p>
        </div>
    </div>

    <div class="right">
        <img src="/assets/phone.png" alt="">
    </div>
    
</div>