<div class="container">

    <div class="left">
        <!-- <h1>MyTransport</h1> -->
        <div class="slogan" data-aos="zoom-in" data-aos-duration="1500" data-aos-easing="linear">
            <p>SAFE TRAVELS. SAFE LIFE. <br> SAVE MONEY.</p>
        </div>`
        <div class="motto" data-aos="zoom-in" data-aos-duration="1500" data-aos-easing="linear">
            <p>A platform that values time and offer the best quality services right under your budget</p>
        </div>
       

        <div class="bt" data-aos="zoom-in" data-aos-duration="1500" data-aos-easing="linear">
            <p class="button" routerLink="/guest/about" >Explore App</p>
        </div>
    </div>

    <div class="right" data-aos="fade-left" data-aos-duration="1500" data-aos-easing="linear">
        <img src="/assets/phone.png" alt="">
    </div>
    
</div>