/* You can add global styles to this file, and also import other style files */
* {
    margin: 0;
    padding: 0;
}
body {
    height: 100vh;
    overflow: hidden;
}
:root {
    --base-color: #0c2d48;
    --secondary-color: #0c2d48f8;
    --third-color: #003b734d;
    --fourth-color: #0c2d4870;
    --base-color-light: #145DA0;
    --base-white: #ffffff;
    --base-black: #000000;
    --blue-light: #BFD7ED;
    --herr: "Herr Von Muellerhoff", cursive;
    --quicksand: "Quicksand", sans-serif;
  }